# Entornos
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo

# Outputs / logs
outputs/
*.log

# IDE
.vscode/
.idea/
.DS_Store

# secretos
config/credentials.yml

tools/
outputs/
venv/
config/credentials.yml

# Bundled browsers/drivers
tools/

